.structure {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  grid-template-rows: 10% 80% 10%;
}

.header {
  grid-area: header;
  background-color: rgb(242, 242, 217);
  display: flex;
  justify-content: start;
  padding-left: 3.5rem;
}
.main {
  grid-area: main;
  background-color: rgb(230, 230, 217);
  display: flex;
}
.footer {
  grid-area: footer;
  background-color: rgb(242, 242, 217);
}

.text {
  font-size: x-large;
  font-weight: 800;
  margin: 1rem;
}

button {
  height: 4rem;
  width: 12rem;
  border-radius: 0.5rem;
  border-style: none;
  color: white;
  background-color: rgb(51, 50, 53);
  margin: 0.5rem;
  font-size: small;
  font-weight: 500;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.outlet {
  background-color: rgb(82, 82, 82);
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: white;
  font-weight: 500;
}
